{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/logo.png">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
</head>
<body>
    <div class="auth-container">
        <div class="auth-card">
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            <h2>Reset Password</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label>New Password</label>
                    <input type="password" name="new_password" required>
                </div>
                <div class="input-group">
                    <label>Confirm New Password</label>
                    <input type="password" name="confirm_password" required>
                </div>
                <button type="submit" class="auth-btn">Update Password</button>
            </form>
        </div>
    </div>
</body>
</html>